body {
    font-family: monospace;
    background-color: #444;
    margin: 0!important;
    overflow-y: hidden;
}

h1 {
    text-align: center;
}

h2, #pokemonInput {
    color: #4c8055;
}

#black-screen h2 {
    margin-right: 2px;
    text-align: end;
}

#suggestionsList {
    width: 21%;
    position: absolute;
    background-color: #222;
    top: 260px;
    left: 800px;
}

.suggestionChild {
    padding: 5px;
    font-size: 16px;
    color: #4c8055;
}

/* .suggestionChild:hover {
    background-color: #2221;
    cursor: pointer;
} */

.hidden {
    display: none;
}

#pokemonInput {
    height: 100%;
    background: transparent;
    font-family: monospace;
    font-weight: 600;
    font-size: 20px;
    border: none;
}

#pokemonInput:focus {
    outline: none;
}

/* Flex */
#pokedex,
#dex-left-header1,
#dex-left-controls,
#black-screen,
#dex-left-controls-col2-row1 {
    display: flex;
}

/* Wrap */
#dex-right-inner-border,
.dex-right-row:nth-child(2),
#black-screen {
    flex-wrap: wrap;
}

/* Default Flex */
.App,
#screen1-border,
#screen1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

/* True Center */
.small-black-screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

/* Box-sizing: borderbox */
.App,
#dex-left-header1,
#dex-left-header,
#dex-left,
#dex-mid,
#dex-right,
#screen1-border,
#top-lights-box,
#bottom-lights-box,
#dex-right-header-bottom,
#black-screen,
.dex-right-row,
.dex-right-row:nth-child(2),
#dex-left-inner-border,
#dex-left-inner-border::before,
#dex-left-controls-green-screen,
#dex-left-controls-green-screen p,
#dex-left-green-screen-arrows {
    box-sizing: border-box;
}

.App {
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 5%;
    width: 60vw;
}

/* Border: 2px #222 solid*/
#dex-left-controls-arrow-keys::before {
    border: 2px #222 solid;
}

/* Border Radius: 3px */
#black-screen,
.white-button,
.small-black-screen,
.dex-right-row:nth-child(2) {
    border-radius: 3px;
}

/* Border Radius: 5px */
.slim-black-button,
#screen1-border,
#dex-left-controls-green-screen,
#dex-left-controls-arrow-keys::before,
#dex-left-controls-arrow-keys::after {
    border-radius: 5px;
}

/* Border Radius: 10px */
.dex-left-controls-long-light,
#dex-right-header-bottom::before {
    border-radius: 10px;
}

/* Border Radius: 50px */
#yellow-round-button,
#dex-left-bluelight,
.threelights,
.top-lights,
#bottom-light {
    border-radius: 50px;
}

/*.App div {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-wrap: wrap;*/
/*    align-content: center;*/
/*}*/

#dex-left-top-row {
    width: 400px;
    display: flex;
    align-content: baseline;
    background-color: #dc0a2d;
    border-radius: 7px 7px 0 0;
    border: 3px solid #222;
    border-bottom: 0;
}

#dex-left-header1, #dex-right-header {
    background-color: #dc0a2d;
}

#dex-left-header1 {
    padding: 5% 2%;
    border-radius: 7px 0 9px 0;
    border-bottom: 10px solid #8a1122;
    background: linear-gradient(#dc0a2d 80%, #f64966 94%, #dc0a2d 100%)
}

#dex-right-header {
    /*width: 100%;*/
    /*border-radius: 0 7px;*/
    /*clip-path: inset(0 0 40% 0);*/
    width: 100%;
    border-radius: 0 7px 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

#dex-right-header-top {
    width: 79%;
    height: 85px;
    background: linear-gradient(
            #dc0a2d 75%,
            #f64966 94%,
            #dc0a2d 100%);
    border-radius: 0 7px 0 0;
}

#dex-right-header-bottom {
    width: 80%;
    height: 50px;
    border-top: 10px solid #8a1122;
    border-radius: 12px 0 0 0;
}

#dex-right-header-bottom::before {
    width: 74px;
    height: 10px;
    content: '';
    background-color: #8a1122;
    position: relative;
    top: 10px;
    left: -56px;
    transform: rotate(-36deg);
    display: block;
}

#dex-right-header-bottom::after {
    width: 51px;
    height: 71px;
    content: '';
    position: relative;
    top: -50px;
    left: -49px;
    /*transform: rotate(-216deg);*/
    display: block;
    background: linear-gradient(144deg, rgba(0,0,0,0) 44%, #f64966 58%, #dc0a2d 65%);
    clip-path: polygon(0px 0px, 100% 0px, 100% 47%, 0% 100%);
}

.dex-bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#dex-right-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-content: baseline;
}

#dex-left-column, #dex-right-column {
    width: 425px;
}

#dex-left, #dex-mid, #dex-right {
    background-color: #dc0a2d;
    /*height: 500px;*/
}

#dex-left, #dex-right {
    width: 390px;
    padding: 1%;
    border-color: #222;
    border-style: solid;
    /*width: 400px;*/
}

#dex-left {
    border-width: 0 0 3px 3px;
    border-radius: 0 0 0 7px;
}

#dex-mid {
    width: 50px;
    border: #222 3px solid;
    height: 480px;
    margin-top: -43px;

}

#dex-right {
    height: 432px;
    border-width: 3px 3px 3px 0;
    border-radius: 0 7px 7px 0;
}

#black-screen, #blue-buttons {
    width: 100%;
    height: 75px;
}

#black-screen {
    width: 100%;
    background-color: #222;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
}

#blue-buttons {
    background-color: #26aafd;
}

.blueButton {
    width: 63px;
    height: 40px;
    margin-bottom: 2px;
    background-color: #26aafd;
    box-shadow: inset -0px -5px 1px -2px rgb(26, 105, 159);
}

.blueButton:hover {
    cursor: pointer;
    background-color: #32afff;
}

.blueButton:active {
    background-color: #1b96e3;
}

.blueButton:nth-child(1) {
    border-radius: 2px 0 0 0;
}

.blueButton:nth-child(5) {
    border-radius: 0 2px 0 0;
}

.blueButton:nth-child(6) {
    border-radius: 0 0 0 2px;
}

.blueButton:nth-child(10) {
    border-radius: 0 0 2px 0;
}

.blueButton:nth-child(5),
.blueButton:nth-child(10) {
    box-shadow: inset -5px -5px 1px -2px rgb(26, 105, 159);
}

#dex-right-inner-border {
    height: 379px;
    border-radius: 0 5px 5px 5px;
    padding: 5% 7% 5% 7%;
}

#dex-right-top-row {
    width: 200px;
    height: 55px;
    border-color: #222;
    border-width: 3px 0 0 0;
    border-style: solid;
    clip-path: polygon(0 0, 71% 0, 100% 100%, 0% 100%);
    content: '';
    display: block;
    position: relative;
    margin-bottom: -9px;
    background: linear-gradient(90deg, #dc0a2d 10px, transparent 10px),
                linear-gradient(transparent 48px, #dc0a2d 49px, #dc0a2d 49px, #dc0a2d 49px),
                linear-gradient(45deg, #dc0a2d 138px, #222 134px);
                /*linear-gradient(#dc0a2d, #dc0a2d);*/
}

#dex-right-top-row::before {
    width: 192px;
    height: 50px;
    border-color: #8a1122;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-radius: 5px 0 0 0;
    clip-path: polygon(0 0, 69% 0, 96% 100%, 0% 100%);
    background: linear-gradient(44.5deg, #dc0a2d 127px, #8a1122 128px);
    content: '';
    display: block;
    position: relative;
    top: 5px;
    left: 4px;
}

.dex-right-row {
    display: flex;
    flex-direction: row;
}

.dex-right-row:nth-child(2),
.dex-right-row:nth-child(4),
.dex-right-row:nth-child(5) {
    margin-top: 30px;
}

.dex-right-row:nth-child(2) {
    justify-content: space-between;
    background-color: #222;
    padding: 2px 2px 0 2px;
}

.dex-right-row:nth-child(3) {
    margin-top: 10px;
    justify-content: flex-end;
}

.slim-black-button {
    width: 60px;
    height: 7px;
    margin-left: 10px;
    background-color: #222;
}

.dex-right-row:nth-child(4) {
    justify-content: space-between;
}

#white-buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.white-button {
    width: 69px;
    height: 41px;
    background-color: #ddd;
    border-width: 2px;
    border-style: solid;
    border-color: #222;
}

.white-button:nth-child(1) {
    border-width: 3px 0 3px 3px;
    border-radius: 3px 0 0 3px;
    box-shadow: inset -0px -5px 1px -2px #aaa;
}

.white-button:nth-child(2) {
    border-width: 3px 3px 3px 3px;
    border-radius: 0 3px 3px 0;
    box-shadow: inset -5px -5px 1px -2px #aaa;
}

#yellow-round-button {
    width: 50px;
    height: 50px;
    border: #222 3px solid;
    background: radial-gradient(circle at 19px 19px, #fef8a5 5px, transparent 8px),
                radial-gradient(circle at 22px 22px, #e0d431 18px, transparent 19px),
                radial-gradient(circle at 30px 30px, #ada325 23px, #e0d431 25px);
}

.dex-right-row:nth-child(5) {
    justify-content: space-between;
}

.small-black-screen {
    width: 150px;
    height: 55px;
    background-color: #222;
}

#dex-left-header, #dex-left-threelights {
    display: flex;
    flex-direction: row;
}

#dex-left-threelights {
    width: 65px;
    margin-top: -7px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#dex-left-header {
    padding: 2% 0;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 59% 50%, 43% 100%, 0% 100%);
    background-color: #fff;
}

#dex-left-bluelight {
    height: 74px;
    width: 74px;
    margin: 0 20px;
    border: #222 2px solid;
    box-shadow: 0 0 0 6px #e1e1e1;
    background: radial-gradient(
            circle at 60% 60%,
            rgb(26, 105, 159) 50%,
            rgb(26, 105, 159) 60%,
            #26aafd 63%,
            #26aafd 100%);
}

#dex-left-bluelight::before {
    display: block;
    position: absolute;
    height: 80px;
    width: 80px;
    background: radial-gradient(
            circle at 40% 40%,
            #26aafd 40%,
            rgb(0, 0, 0, 0) 44%);
    content: '';
}

#dex-left-bluelight::after {
    display: block;
    position: absolute;
    height: 80px;
    width: 80px;
    background: radial-gradient(
            circle at 35% 35%,
            #9dd7ff 12%,
            rgb(0, 0, 0, 0) 16%);
    content: '';
}

.threelights {
    height: 10px;
    width: 10px;
    border: #222 2px solid;
    background: radial-gradient(
            circle at 25% 30%,
            rgba(0, 0, 0, 0) 30%,
            rgba(0, 0, 0, .4) 71%
    );
}

.threelights::before {
    display: block;
    height: 10px;
    width: 10px;
    background: radial-gradient(
            circle at 35% 35%,
            rgba(255, 255, 255, .8) 5%,
            rgba(0, 0, 0, 0) 32%
    );
    content: '';
}


.red {
    background-color: #dc0a2d;
}

.yellow {
    background-color: #e0d431;
}

.green {
    background-color: #4c8055;
}

.lightgreen {
    background-color: #51ae5e;
}

.blue {
    background-color: #206273;
}

#screen1-border {
    background-color: #e1e1e1;
    border: 3px solid #222;
    width: 100%;
    height: 35vh;
}

#screen1-border::before {
    height: 32px;
    width: 32px;
    margin-bottom: -32px;
    content: '';
    background: linear-gradient(
            45deg,
            #dc0a2d 23px,
            #222 23px,
            #222 25px,
            #e1e1e1 25px);
    display: block;
    position: relative;
    bottom: -219px;
    left: -148px;
}

#dex-left-inner-border, #dex-right-inner-border {
    border: 1px solid #8a1122;
}

#dex-left-inner-border {
    width: 380px;
    height: 100%;
    padding: 7%;
    border-radius: 5px 0 5px 5px;
}

#dex-left-inner-border::before {
    width: 192px;
    height: 42px;
    margin-bottom: -43px;
    content: '';
    display: block;
    position: relative;
    top: -68px;
    left: 161px;
    border-radius: 0 5px 0 0;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #8a1122;
    clip-path: polygon(31% 0%, 100% 0, 100% 100%, 0% 100%);
    background: linear-gradient(144deg, #8a1122 35px, #dc0a2d 35px);
    padding-top: -45px;
}

#top-lights-box, #bottom-lights-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#top-lights-box {
    padding: 5% 30%;
    justify-content: space-evenly;
}

#bottom-lights-box {
    padding: 5% 15% 3% 15%;
    align-items: center;
    justify-content: space-between;
}

.top-lights {
    width: 10px;
    height: 10px;
    background-color: #d21d4b;
}

#bottom-light {
    width: 15px;
    height: 15px;
    background-color: #d21d4b;
}

#bottom-speaker::before,
#bottom-speaker::after {
    display: block;
    border-top: #232323 3px solid;
    border-bottom: #232323 3px solid;
    width: 30px;
    content: '';
    height: 2px;
}

#bottom-speaker::before {
    margin-bottom: 3px;
}

#screen1 {
    background-color: #6ab6d4;
    width: 70%;
    height: 65%;
    box-shadow: 0 0 15px 5px #6ab6d4;
}

#screen1 img {
    width: 70%;
}

#dex-left-controls {
    margin-top: 20px;
    justify-content: space-between;
}

#dex-left-controls-col1-button {
    width: 40px;
    height: 40px;
    background-color: #444;
    border-radius: 50%;
    box-shadow: 0 2px 0 1px #222;
    border: 2px solid #222;
}

#dex-left-controls-col2 {
    width: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#dex-left-controls-col2-row1 {
    width: 100%;
    justify-content: space-between;
}

.dex-left-controls-long-light {
    width: 40%;
    height: 5px;
    margin-bottom: 15px;
    border: 2px solid #222;
}

#dex-left-controls-green-screen {
    width: 145px;
    height: 75px;
    padding: 4px 5px;
    border: 2px solid #222;
    box-shadow: inset 0 0 5px 1px #2f5f42;
}

#dex-left-green-screen-text {
    height: 65px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#dex-left-controls-green-screen p {
    width: 115px;
    font-size: 10px;
    color: #1e3928;
    line-height: 1.3em;
    padding: 0 0 3px 1px;
    margin: 0;
}

#dex-left-green-screen-arrows {
    height: 100%;
    padding: 2px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
}

#arrow-up, #arrow-down {
    width: 8px;
    height: 6px;
    padding: 1px 0;
    background-color: #2f5f42;
    /*left: 120px;*/
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes arrow-up-anim {
    from {margin-top: -1px}
    to {margin-top: 3px}

}

@keyframes arrow-down-anim {
    from {margin-bottom: 1px}
    to {margin-bottom: -2px}

}

#arrow-up {
    animation-name: arrow-up-anim;
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
    /*top: 9px;*/
}

#arrow-down {
    animation-name: arrow-down-anim;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    top: 55px;
}

/*#green-screen-arrow-spacer {*/
/*    height: 70%;*/
/*    background-color: rgba(0, 0, 0, 0.30);*/
/*}*/

#dex-left-controls-arrow-keys {
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#dex-left-controls-arrow-up {
    grid-column: 2;
    grid-row: 1;
    border-radius: 5px 5px 0 0;
    border-width: 2px 2px 0 2px;
}

#dex-left-controls-arrow-down {
    grid-column: 2;
    grid-row: 3;
    border-radius: 0 0 5px 5px;
    border-width: 0 2px 2px 2px;
}

#dex-left-controls-arrow-left {
    grid-column: 1;
    grid-row: 2;
    border-radius: 5px 0 0 5px;
    border-width: 2px 0 2px 2px;
}

#dex-left-controls-arrow-right {
    grid-column: 3;
    grid-row: 2;
    border-radius: 0 5px 5px 0;
    border-width: 2px 2px 2px 0;
}

#dex-left-controls-mid {
    grid-column: 2;
    grid-row: 2;
    background: linear-gradient(90deg, transparent 1px, #444 2px, #444 31px, transparent 31px),
                linear-gradient(#222 1px, #444 2px, #444 32px, #222 32px);
}

#dex-left-controls-arrow-up,
#dex-left-controls-arrow-right,
#dex-left-controls-arrow-down,
#dex-left-controls-arrow-left {
    width: 100%;
    height: 100%;
    background-color: #444;
    border-color: #222;
    border-style: solid;
    box-sizing: border-box;
}

#dex-left-controls-arrow-up::before,
#dex-left-controls-arrow-right::before,
#dex-left-controls-arrow-down::before,
#dex-left-controls-arrow-left::before {
    width: 10px;
    height: 10px;
    content: '';
    margin: 0 auto;
    top: 11px;
    background-color: #222;
    position: relative;
    display: block;
}

#dex-left-controls-arrow-up::before {
    clip-path: polygon(50% 0, 50% 0%, 100% 100%, 0 100%);
}

#dex-left-controls-arrow-right::before {
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
}

#dex-left-controls-arrow-down::before {
    clip-path: polygon(0 0, 100% 0, 50% 100%, 50% 100%);
}

#dex-left-controls-arrow-left::before {
    clip-path: polygon(0 50%, 100% 0%, 100% 100%, 100% 100%);
}


#dex-left-controls-arrow-up:hover,
#dex-left-controls-arrow-right:hover,
#dex-left-controls-arrow-down:hover,
#dex-left-controls-arrow-left:hover {
    cursor: pointer;
}

/* RESPONSIVE */
@media screen and (min-width: 1200px) {
   #screen1-border {
       height: 19vh;
   }

   #suggestionsList {
        width: 324px;
        top: 250px;
        left: 711px;
   }
}
